<template>
  <router-link :to="{ name: 'ExpenseDetailView', params: { id: doc.name } }">
    <div class="p-3.5 items-center justify-between border-b cursor-pointer gap-1" :key="doc.name">
      <div class="expense-item">
        <div class="flex justify-between items-center">
          <div class="text-2xl"> {{ formatCurrency(doc.grand_total, currency) }}</div>
          <div class="flex items-center space-x-2">
            <Badge v-if="doc.workflow_state" :theme="statusMap[doc.workflow_state]" variant="outline" class="size-md">
              {{ doc.workflow_state }}
            </Badge>
            <Badge v-if="!doc.workflow_state || (doc.status == 'Claimed' || doc.status == 'Unclaimed')" :theme="statusMap[doc.status]" variant="outline" class="size-md" >
              {{ doc.status }}
            </Badge>
            <FeatherIcon name="chevron-right" class="h-5 w-5 text-gray-500" />
          </div>
        </div>
        
        <div class="flex flex-row gap-5 h-8 justify-between">
          <div class="text-sm content-end">{{ doc.name }}:</div>
          <span class="whitespace-nowrap justify-end text-xs font-normal text-gray-500 content-end">{{ doc.expense_date }}</span>
        </div>
      </div>  
    </div>
  </router-link>
</template>

<script setup>
import { computed, defineProps } from 'vue';
import { FeatherIcon, Badge } from 'frappe-ui';
import { getCompanyCurrency } from "@/data/currencies"
import { formatCurrency } from "@/utils/formatters"

const statusMap = {
	Draft: "gray",
	Pending: "orange",
	Approved: "green",
	Cancelled: "red",
	Rejected: "red",
}


const props = defineProps({
  doc: {
    type: Object,
    required: true
  },
});


const currency = computed(() => getCompanyCurrency(props.doc.company))
</script>
