<template>
	<video class="bg-blue-100" ref="videoRef"></video>
	<div v-if="qrScanner">
		<ion-button color="dark" @click="qrScanner.start()">start </ion-button>
		<ion-button color="dark" @click="qrScanner.stop()">stop</ion-button>
	</div>
	<div>{{ qrResult }}</div>
</template>

<script setup>
import { computed, ref } from "vue"
import QrScanner from 'qr-scanner'
import { IonButton } from '@ionic/vue';

const qrResult = ref('')

const videoRef = ref()
const qrScanner = computed(() => {
	debugger
	const videoElem = videoRef.value;
	if (!videoElem) {
		return;
	}

	return new QrScanner(
		videoElem,
		result => {
			console.log('decoded qr code:', result)
			qrResult.value = result.data
		},
		{
			returnDetailedScanResult: true,
			highlightScanRegion: true,
			highlightCodeOutline: true,
		},
	);
})
</script>