<template>
    <BaseLayout pageTitle="Expenses">
        <template #body>
            <div class="flex flex-col mt-7 mb-7 p-4 gap-7">
                <ExpenseSummary />
                <div class="flex flex-col gap-4">
                    <div class="text-lg text-gray-800 font-bold">{{ __("Recent Expenses") }} </div>
                    <div class="flex flex-col bg-white rounded mt-5 overflow-auto">
                        <ExpenseItem :doc="expense" v-for="expense in listResource.data" />
                    </div>
                    <div class="flex flex-col">
                        <Button @click="listResource.next()" icon-right="chevron-down" variant="subtle" size="lg" label="Voir plus" />
                    </div>
                </div>
            </div>
        </template>
    </BaseLayout>
</template>

<script setup>
import { createListResource } from 'frappe-ui';
import BaseLayout from '@/components/BaseLayout.vue';
import ExpenseSummary from '@/components/ExpenseSummary.vue';
import ExpenseItem from '@/components/ExpenseItem.vue';

const listResource = createListResource({
    auto: true,
    doctype: 'Expense',
    fields: ['name', 'employee', 'grand_total', 'status', 'expense_date', 'company', 'description', 'workflow_state'],
    orderBy: 'creation desc',
    start: 0,
    pageLength: 5
});
</script>
