<template>
	<ion-page>
		<ion-content :fullscreen="true">
			<FormView v-if="formFields.data" doctype="Expense" v-model="expenseData" :isSubmittable="true"
				:fields="formFields.data" :id="props.id" :showAttachmentView="false"
				:tabs="tabs" tabbed-view showFormButton>

				<template #expense_details="{ isFormReadOnly }">
					<ExpenseDetailsTable
						:expense="expenseData"
						@upsertExpenseDetail="upsertExpenseDetail"
						@setReceipt="setReceipt"
					/>
					<!-- :currency="expenseData.currency"
					:isReadOnly="isFormReadOnly" -->

				</template>
			</FormView>
		</ion-content>
	</ion-page>
</template>

<script setup>
import { ref, inject } from 'vue'
import { IonPage, IonContent } from "@ionic/vue"
import { createResource, frappeRequest } from "frappe-ui"
import FormView from "@/components/FormView.vue"
import ExpenseDetailsTable from '../../components/ExpenseDetailsTable.vue'

const formFields = createResource({
	url: "hrms.api.get_doctype_fields",
	params: { doctype: "Expense" },
	transform(fields) {
		console.log("Fetched fields:", fields.map(f => f.fieldname));
		return applyFilters(getFilteredFields(fields))

	},
})
formFields.reload()

const props = defineProps({
    id: {
        type: String,
        default: "",
    },
})

const employee = inject("$employee")

const expenseData = ref({
	employee: employee.data.name,
	employee_name: employee.data.employee_name,
	company: employee.data.company,
	department: employee.data.department,
	net_amount: 0,
	grand_total: 0,
	expense_details: [],
	receipt: "",
	name: `new-expense-${Math.random()}`,
})

// TODO: watch props?

function getFilteredFields(fields) {
	const excludeFields = ["naming_series"]
	const extraFields = [
		"employee",
		"employee_name",
		"department",
		"company",
		"more_info_section",
		"pending_amount",
	]

	if (!props.id) excludeFields.push(...extraFields)

	return fields
		.filter((field) => !excludeFields.includes(field.fieldname))
		.filter((field) => !field.fieldtype.match(/Break/))
}

function applyFilters(fields) {
	return fields.map((field) => {
		return field
	})
}

const tabs = [
	{ name: "Details", lastField: "grand_total" },
	{ name: "Analytique", lastField: "status" },
]



async function upsertExpenseDetail(newData) {
	const table = expenseData.value.expense_details

	for (const row of table) {
		if (row.name === newData.name) {
			Object.assign(row, newData)
			calculateTotals()
			return
		}
		
	}

	newData.name = Math.random().toString().slice(2, 10)
	table.push(newData)
	calculateTotals()
}

function deleteExpenseDetail(row) {
	const table = expenseData.value.expense_details
	console.log("deleteExpenseDetail", row.name, table)
	calculateTotals()
}


async function calculateTotals() {
	// TODO: Récupérer taux de TVA selon Expense Claim type

	const doc = expenseData.value

	for (const row of doc.expense_details) {
		row.tax_rate = await get_vat_rate(row.expense_type)

		row.tax_rate = +(row.tax_rate || 0)
		row.amount = +(row.amount || 0)

		const tax_rate = (row.tax_rate) / 100.0;
		const net_amount = row.amount / (1 + tax_rate) || 0.0;
		const tax_amount = (row.amount / (1 + tax_rate)) * tax_rate || 0.0;

		row.net_amount = net_amount;
		row.tax_amount = tax_amount;
	}

	doc.grand_total = doc.expense_details.reduce((acc, row) => acc + row.amount, 0);
	doc.net_amount = doc.expense_details.reduce((acc, row) => acc + row.net_amount, 0);
	doc.tax_amount = doc.expense_details.reduce((acc, row) => acc + row.tax_amount, 0);
}

async function get_vat_rate(expense_type) {
	if (!expense_type) return 0;
	const message = await frappeRequest({
		url: "/api/method/hrms.hr.doctype.expense.expense.get_vat_rate",
		params: {
			expense_type,
			company: expenseData.value.company,
		},
	});
	return message.tax_rate;
}

async function setReceipt(fileAttachment) {
	const fileDoc = await fileAttachment.upload('Expense',expenseData.value.name, 'receipt');
	expenseData.value.receipt = fileDoc.file_url;
}

</script>
